<!DOCTYPE html>

<title>New LivrableChallenge</title>

{% block body %}
    <h1>Create new LivrableChallenge</h1>

    {{ include('livrable_challenge/_form.html.twig') }}

    <a href="{{ path('app_livrable_challenge_index') }}">back to list</a>
{% endblock %}
